@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
     /*colors */
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);

    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);

    /*font weights */
    --normal: 400;
    --semi-bold: 500;
    --bold: 700;
}

body {
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

* {
    font-family: "Ubuntu", sans-serif;
}

.wrapper {
    background-color: var(--white);
    border-radius: 10px;
}

/**SIDE BAR START*/
.side-bar {
    display: grid;
    width: 100%;
    background:url(./assets/images/bg-sidebar-desktop.svg) no-repeat;
    border-radius: 12px;
}

.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    text-transform: uppercase;
}


.step span {
    color: var(--light-gray);
}

.step p {
    color: var(--magnolia);
}

.step-num {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--magnolia);
    background-color: transparent;
    border: 2px solid var(--magnolia);
    border-radius: 50%;
}

.step-num.active {
    color: var(--marine-blue);
    border-color: var(--light-blue);
    background-color: var(--light-blue);
}
/**SIDE BAR END*/

.tab {
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    color: var(--marine-blue);
}

.title-description {
    color: var(--cool-gray);
}

.btns {
    font-weight: var(--semi-bold);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-one {
    justify-content: flex-end;
}

.btn-next {
    color: var(--white);
    background-color: var(--marine-blue);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-back {
    border: none;
    background-color: transparent;
    color: var(--cool-gray);
    cursor: pointer;
}

/**STEP 1 START*/
label {
    color: var(--marine-blue);
}

.error {
    display: none;
    float: right;
    color: var(--strawberry-red);
    font-weight: var(--semi-bold);
}

input {
    border-radius: 10px;
    border: 1px solid var(--marine-blue);
    outline: none;
}

input:focus {
    background-color: #fff;
}
/**STEP 1 END */

/**STEP 2 START */

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 45px;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
}

.box img {
    width: 40px;
    height: auto;
}

.box-text h4 {
    color: var(--marine-blue);
}

    /**SWITCH BUTTON */
    .btn-switch {
    display: flex;
    flex-direction: row;
    background-color:  hsl(217, 100%, 97%);
  }
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: hsl(213, 96%, 18%);
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /**SWITCH BUTTON END */
/**STEP 2 END */
/**STEP 3 START */
.checkboxes {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 15px;
}

.checkboxes li {
    display: grid;
    grid-template-columns: 10% 70% 20%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 20px 24px;
}

.active-selection {
    background-color: var(--magnolia);
    border: 1px solid var(--purplish-blue);
}

.checkboxes li span {
    color: var(--purplish-blue);
}

.checkboxes label {
    display: flex;
    flex-direction: column;
}

.checkboxes label p {
    font-size: 14px;
}
/**STEP 3 END */

/**STEP 4 START */
.final-summary {
    background-color: var(--alabaster);
    padding: 24px;
}

.plan-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
}

.selected-plan {
    color: var(--marine-blue);
}

.plan-price {
    color: var(--marine-blue);
}

.btn-change {
    border: 0;
    background-color: transparent;
    color: var(--cool-gray);
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
}

.btn-change:hover,
.btn-change:focus {
    color: var(--marine-blue);
}

.selected-add-ons {
    border-top: 1px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-top: 24px;
}

.selected-add-on {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 18px;
}

.selected-add-on-text {
    color: var(--cool-gray);
}

.selected-add-on-price {
    color: var(--marine-blue);
}

.total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 24px 0 24px;
}

.total-price p {
    color: var(--cool-gray);
}

.total-price span {
    font-size: 22px;
    font-weight: var(--bold);
    color: var(--purplish-blue);
}

.btn-confirm {
    background-color: var(--purplish-blue);
}

.btn-confirm:hover,
.btn-confirm:focus {
    opacity: .7;
}
/** STEP 4 END */
/** STEP 5 START */
.final-tb {
    justify-content: center;
    align-items: center;
    gap: 10px;          
}

.final-img {
    width: 80px;
    height: auto;
    margin-bottom: 30px;
}

.final-tb > .title-description {
    text-align: center;
}
/** STEP 5 END */

/** MEDIA QUERIES */

@media (max-width: 990px) {
   .side-bar {
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: repeat(4, auto);
    justify-content: space-around;
    align-items: flex-start;
    background: url(./assets/images/bg-sidebar-mobile.svg) no-repeat;
    background-size: cover;
    height: 30%;
    }

   .step-text {
        display: none;
   }

   .tab {
    position: relative;
    margin: 0 auto;
    background-color: var(--white);
    }
}