@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
     /*colors */
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);

    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);

    /*font weights */
    --normal: 400;
    --semi-bold: 500;
    --bold: 700;
}

body {
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

* {
    font-family: "Ubuntu", sans-serif;
}

.form {
    width: 900px;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0px 0px 1px black;
}

.form-container {
    display: flex;
    padding: 16px; /**1rem */
    /* height: 595px;
    display: grid;
    grid-template-columns: 30% 60%;
    align-items: center;
    gap: 100px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 15px;
    width: 60%; */
}

.header {
    padding-top: 32px;
}

/**SIDE BAR START*/
.side-bar {
    background:url(./assets/images/bg-sidebar-desktop.svg) no-repeat;
    width: 400px;
    height: 568px;
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    /* height: 100%;
    background:url(./assets/images/bg-sidebar-desktop.svg) no-repeat;
    width: clamp(230px, 100%, 800px); 
    display: grid;
    grid-template-rows: repeat(4, 90px);
    border-radius: 12px;
    padding: 30px 30px 0 30px; */
}

.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    text-transform: uppercase;
}


.step span {
    font-size: 14px;
    color: var(--light-gray);
    font-weight: var(--normal);
}

.step p {
    color: var(--magnolia);
    font-weight: var(--bold);
}

.step-num {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--magnolia);
    background-color: transparent;
    border: 2px solid var(--magnolia);
    border-radius: 50%;
    text-align: center;
}

.step-num.active {
    color: var(--marine-blue);
    border-color: var(--light-blue);
    background-color: var(--light-blue);
}
/**SIDE BAR END*/

.tab {
    width: 90%;
    display: none;
    flex-direction: column;
    justify-content: center;
    /* display: none;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    max-width: 82%;
    border-radius: 10px; */
}

.title {
    color: var(--marine-blue);
}

.title-description {
    color: var(--cool-gray);
}

.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
    font-size: 14px;
}

.btn-one {
    justify-content: flex-end;
}

.btn-next {
    padding: 16px 32px;
    color: var(--white);
    background-color: var(--marine-blue);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-back {
    border: none;
    background-color: transparent;
    color: var(--cool-gray);
    cursor: pointer;
    font-weight: var(--bold);
}

/**STEP 1 START*/
form {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 16px;
}

label {
    flex-direction: column;
}

.error {
    float: right;
    color: var(--strawberry-red);
    font-weight: var(--semi-bold);
    display: none;
}

input {
    width: 100%;
    padding: 16px;
    border-radius: 7px;
    border: 1px solid var(--cool-gray);
    outline: none;
}

input:focus {
    background-color: #fff;
    border-color: var(--marine-blue);

}
/**STEP 1 END */

/**STEP 2 START */
.boxes {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 32px;
    list-style: none;
    padding: 0;
}

.box {
    width: 150px;
    height: 170px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 20px 16px;
}

.box img {
    height: auto;
    width: 40px;
    height: auto;
}

.box-text h4 {
    color: var(--marine-blue);
}

/**SWITCH BUTTON */
.btn-switch {
    display: flex;
    gap: 8px;
    justify-content: center;
    background-color:  var(--magnolia);
    padding: 8px;
    margin-bottom: 80px;
  }
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: hsl(213, 96%, 18%);
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /**SWITCH BUTTON END */
/**STEP 2 END */
/**STEP 3 START */
.checkboxes {
    list-style: none;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 15px;
}

.checkboxes li {
    display: grid;
    grid-template-columns: 10% 70% 20%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 20px 24px;
}

.active-selection {
    background-color: var(--magnolia);
    border: 1px solid var(--purplish-blue);
}

.checkboxes li span {
    color: var(--purplish-blue);
}

.checkboxes label {
    display: flex;
    flex-direction: column;
}

.checkboxes label p {
    font-size: 14px;
}
/**STEP 3 END */

/**STEP 4 START */
.review {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.final-summary {
    background-color: var(--alabaster);
    padding: 24px;
}

.plan-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
}

.selected-plan {
    color: var(--marine-blue);
}

.plan-price {
    color: var(--marine-blue);
}

.btn-change {
    border: 0;
    background-color: transparent;
    color: var(--cool-gray);
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
}

.btn-change:hover,
.btn-change:focus {
    color: var(--marine-blue);
}

.selected-add-ons {
    border-top: 1px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-top: 24px;
}

.selected-add-on {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 18px;
}

.selected-add-on-text {
    color: var(--cool-gray);
}

.selected-add-on-price {
    color: var(--marine-blue);
}

.total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 24px 0 24px;
}

.total-price p {
    color: var(--cool-gray);
}

.total-price span {
    font-size: 22px;
    font-weight: var(--bold);
    color: var(--purplish-blue);
}

.btn-confirm {
    background-color: var(--purplish-blue);
}

.btn-confirm:hover,
.btn-confirm:focus {
    opacity: .7;
}
/** STEP 4 END */
/** STEP 5 START */
.final-tb {
    justify-content: center;
    align-items: center;
    gap: 10px;          
}

.final-img {
    width: 80px;
    height: auto;
    margin-bottom: 30px;
}

.final-tb > .title-description {
    text-align: center;
}
/** STEP 5 END */

/** MEDIA QUERIES */
@media screen and (max-width: 800px) {
    body {
        position: relative;
    }
    
    .side-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 300px;
        background-image: url("./assets/images/bg-sidebar-mobile.svg");
        flex-direction: row;
        background-size: cover;
        align-items: flex-start;
        justify-content: center;
        z-index: -1;
    }

    .step-text {
        display: none;
    }

    .form {
        position: absolute;
        top: 15%;
        max-width: 375px;
        background-color: white;
      }

      .form-container {
        padding: 32px;
        margin-bottom: 32px;
        justify-content: center;
      }

      .btns {
        position: fixed;
        align-items: self-end;
        bottom: 0;
        background-color: white;
        right: 0;
        left: 0;
        height: 100px;
        padding-inline: 1rem;
      }

      .boxes {
        flex-direction: column;
        gap: 8px;
      }

      .box {
        width: 100%;
        height: 100px;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
        align-items: center;
      }

      .header {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

}